.idea/
/recipe-demo-action/.cache/
/recipe-demo-action/build/
/recipe-demo-action/config/environments/development/database.json
/recipe-demo-action/node_modules
/recipe-demo-action/public
/recipe-demo-action/package-lock.json
/recipe-ui/.cache/
/recipe-ui/node_modules
/recipe-ui/public
/backend/
/node_modules/
/package-lock.json
